/listings/virtio_queue.h
/missfont.log
/setup-generated.tex
/tmpfilesforzip
/virtio-*.4ct
/virtio-*.4tc
/virtio-*.aux
/virtio-*.css
/virtio-*.dvi
/virtio-*.html
/virtio-*.idv
/virtio-*.lg
/virtio-*.log
/virtio-*.out
/virtio-*.pdf
/virtio-*.tex
/virtio-*.toc
/virtio-*.xref
/virtio-*.zip
